.section {
    position: relative;
    text-align: center;
    height: 95vh;
}
.options-list {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 5vh;
    list-style: none;
    text-align: center;
    width: 70vw;
    padding-inline-start: 0px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.15);
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
.options-list li {
    position: relative;
    text-align: center;
    width: 33%;
    padding-top: 30px;
    height: 200px;
    background-color: white;
    transition: .1s linear;
    display: inline-block;
}
.options-list li:hover {
    background-color: rgb(0, 0, 0, 0.15);
    cursor: pointer;
}
.options-list li img {
    position: relative;
    height: 30%;
    width: 30%;
}
.options-list .divisor1 {
    background-color: rgb(0, 0, 0, 0.3);
    width: 0.5px;
    height: 60% !important;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 33.3% !important;
    position: absolute;
}
.options-list .divisor2 {
    background-color: rgb(0, 0, 0, 0.3);
    width: 0.5px;
    height: 60% !important;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 66.6% !important;
    position: absolute;
}
@media screen and (max-width:1045px) {
    .options-list {
        width: 90vw;
    }
}
@media screen and (max-width:991px) {
    .section {
        height: auto;
    }
    .options-list {
        position: relative;
        height: auto;
        width: 90%;
        margin-bottom: 20px;
    }
    #copyright {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    .options-list li {
        width: 100%;
        height: 250px;
        margin-bottom: 0.5px;
    }
    .options-list .divisor1 {
        width: 100% !important;
        height: 1px !important;
        left: 0 !important;
        z-index: 1000;
        top: 250px !important;
        bottom: auto !important;
    }
    .options-list .divisor2 {
        width: 100% !important;
        height: 1px !important;
        left: 0 !important;
        top: 500px !important;
        bottom: auto !important;
    }
}
@media screen and (max-width:768px) {
    .section {
        height: auto;
    }
    .options-list {
        position: relative;
        height: auto;
        width: 90%;
        margin-bottom: 20px;
    }
    .options-list li {
        width: 100%;
        margin-bottom: 0.5px;
    }
    .options-list .divisor1 {
        width: 100% !important;
        height: 1px !important;
        left: 0 !important;
        z-index: 1000;
        top: 250px !important;
        bottom: auto !important;
    }
    .options-list .divisor2 {
        width: 100% !important;
        height: 1px !important;
        left: 0 !important;
        top: 500px !important;
        bottom: auto !important;
    }
}